<div class="container">
  <form class="mt-5" [formGroup]="blogForm" (ngSubmit)="onSave()">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        formControlName="title" />
      <div
        *ngIf="blogForm.get('title')?.invalid && blogForm.get('title')?.touched"
        class="text-danger">
        Title is required
      </div>
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Content</label>
      <textarea
        class="form-control"
        id="content"
        formControlName="content"></textarea>
      <div
        *ngIf="
          blogForm.get('content')?.invalid && blogForm.get('content')?.touched
        "
        class="text-danger">
        Content is required
      </div>
    </div>
    <div class="mb-3">
      <label for="coverImage" class="form-label">Cover Image:</label>
      <div
        *ngIf="!coverImagePreview; else viewcvImg"
        class="cv-img-dropzone rounded border-dark"
        (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)"
        (drop)="onDrop($event)">
        <p>Drag and drop image here, or click to select image.</p>
        <div class="position-relative">
          <input
            type="file"
            class="input-control-file"
            id="coverImage"
            (change)="onFileChange($event)"
            name="image" />
          <i class="bi bi-upload cursor-pointer" style="font-size: 28px"></i>
        </div>
      </div>
      <ng-template #viewcvImg>
        <div
          *ngIf="
            blogForm.get('image')?.invalid && blogForm.get('image')?.touched
          "
          class="text-danger">
          Cover Image is required
        </div>
        <div
          class="mt-2 position-relative"
          style="width: fit-content"
          *ngIf="coverImagePreview">
          <div
            (click)="removeCoverImage()"
            class="position-absolute cursor-pointer"
            style="top: -12px; right: -6px">
            <i class="bi bi-x-circle-fill"></i>
          </div>
          <img
            [src]="coverImagePreview"
            alt="Cover Image Preview"
            class="img-fluid"
            style="max-height: 400px" />
        </div>
      </ng-template>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
<app-app-loading *ngIf="isSubmitting"></app-app-loading>
